<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
</head>
<body>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
  <script src="/{{ scriptFile }}"></script>
</body>
</html>