<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <style>
    * {
      box-sizing: border-box;
    }

    html {
    }

    body {
      text-align: center;
      font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
      font-size: 16px;
      margin: 0;
    }

    .if-offline  {
      display: none;
      background: #dadada;
      color: #000;
      padding: 5px 10px;
    }

    .offline header .if-offline  {
      display: block;
    }

    .offline .if-online {
      display: none;
    }
  </style>
</head>
<body>
  <header style="background-color: #3e51b5; color: white; font-weight: bold; cursor: pointer;width: 100%;">
    <div style="max-width: 300px;margin: 0 auto;padding: 15px 0;">
      <span class="heading">{{ title }} v{{ version }}</span>
    </div>
    <span class="if-offline">Offline mode. The site will still work, but there might be a newer version available.</span>
  </header>

  <div id="reloadBanner" style="display: none; background-color: #f09025; color: white; font-weight: bold; padding: 15px 0;cursor: pointer;width: 100%;">
    New version available - click here to load
  </div>

  <div class="content" style="margin-top: 20px">
    <form onsubmit="return false;">
      <input id="input-name" type="text" placeholder="Enter your name..." />
      <button id="button-say-hello">Say hello</button>
    </form>

    <div id="greeting" style="margin-top: 50px;font-size: 30px;">Greeting will go here...</div>
  </div>

  <div class="if-online" style="max-width: 500px;margin: 50px auto;font-style: italic;">
    This site should also work offline. Try disconnecting your internet connection or turning on airplane mode and reloading the page.
  </div>

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default"></script>
  <script src="/{{ scriptFile }}"></script>
</body>
</html>